h1 {
	font-family: fantasy;
	font-style: bold;
	font-color: yellow;
	font-size: xx-large;
}
h3 {
	font-family: unset;
	font-color: red;
}

body {
	background: azure;
	font-family: helvetica;
	font-style: normal;
}