h1 {
	font-family: fantasy;
	font-style: bold;
	color: blue;
	font-size: xx-large;
	margin: 20px;
}
h3 {
	font-family: unset;
	color: blue;
	margin: 20px;
}

body {
	background: azure;
	font-family: helvetica;
	font-style: normal;
	margin: 20px;
}
p {
	margin: 20px;
}

a {
	margin: 20px;
}
ul {
	font-weight: bold;
	font-family: arial;
}
.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
#id {
	
}


