h1 {
	margin: 20px;
	font-weight: bold;	
	color: magenta;
}
h2 {
	margin: 20px;
	font-weight: bold;	
	color: red;
}
.resize {
    width: 600px;
    height: auto;
}

.resize {
    width: 600px;
    height: auto;